.gitignore.bak
README.md.bak
LICENSE.bak
.vs
src/.axoCover
src/DynamicTableEntityJsonSerializer/.vs
src/DynamicTableEntityJsonSerializer/DynamicTableEntityJsonSerializer/bin
src/DynamicTableEntityJsonSerializer/DynamicTableEntityJsonSerializer/obj
src/DynamicTableEntityJsonSerializer/DynamicTableEntityJsonSerializerXUnitTest/bin
src/DynamicTableEntityJsonSerializer/DynamicTableEntityJsonSerializerXUnitTest/obj
*.cache
